html {
    margin: 0;
    padding: 0;
    background-color: #00263b;
    color: rgb(205, 199, 199);
    background-image: url(./serious.png);
    overflow-x: hidden;
}

body {
    margin: 0!important;
    width: 100vw;
}

.bio {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 650px;
    width: 100vw;
}

.aside-left {
    background-color: rgb(144, 169, 206);
    width: 55%;
    position: relative;
}

.aside-left img {
    position: absolute;
    bottom: 0;
    margin-left: 5%;

}

.aside-right {
    margin-right: 50px;
    width: 45%;
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    align-content: flex-end;
    text-align: right;
    z-index: 1;
}

.aside-right h1 {
    font-size: 45px;
    margin: 0;
    font-family: "alfa slab one", sans-serif;
    color: #1a1919;
    letter-spacing: 2px;
}

.aside-right h3 {
    color: #ff5200;
    font-size: 18px;
    font-weight: bold;
    font-family: "cormorant", sans-serif;
}

.icon-bio {
    margin-top: 20px;
}








/* Footer */
footer {
    text-align: center;
}

.center-footer {
    margin: 80px auto;
}

.footer {
    height: 300px;
    width: 100%;
    padding-top: 40px;
    background-color: #1a1919;
    font-family: "cormorant", sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer h2 {
    font-size: 35px;
    margin: 0;
}

footer a {
    font-size: 25px;
    color: white;
    text-decoration: underline #ff5200;
}

footer a:hover{
    color: #ff5200;
    transition: color .5s ease;
}

.icons {
    margin-top: 35px;
}

.icons a {
    margin: 10px 0;
}



















/* NAVBAR */

.burger {
    width: 40px;
    border: 2px solid white;
    background-color: white;
    margin-bottom: 5px;
}

.burgerking {
    line-height: 20px;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #ff5200;
    padding: 8px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 25;
}

.navbar {
    height: 0;
}

#simple-menu {
    top: -16px!important;
    left: -16px!important;
}

.MuiPaper-rounded {
    border-radius: 0!important;
}

.MuiPopover-paper {
    max-width: 100vw!important;
    min-width: 100vw!important;
    max-height: 100vh!important;
    min-height: 100vh!important;
    background-image: url(./serious.png);    
}

.MuiPopover-paper img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    opacity: 0.35;
}

.MuiList-padding {
    padding: 0!important;
}

.MuiMenu-list {
    width: 100vw!important;
}

.MuiMenu-list li {
    font-size: 2em;
    font-family: "alfa slab one", sans-serif;
    font-weight: 900;
    display: flex;
    justify-content: center;
}

.MuiMenu-list a {
    text-decoration: none;
    color: rgb(69, 66, 66);
}

.li {
    margin-top: 100px;
}

.MuiMenu-list h1 {
    width: 40px;
    height: 40px;
    font-size: 40px;
    font-family: "cormorant", sans-serif;
    margin-top: 0;
    position: relative;
    border: solid #ff5200;
    background-color: #ff5200;
    text-align: center;
    line-height: 40px;
    color: white;
    font-weight: bold;
    z-index: 2;

}

.MuiMenu-list h1:hover {
    cursor: pointer;
    color: rgb(0, 0, 0);
    font-size: 50px;
    transition: color .5s ease;
    
}











.about {
    background: white;
    color: rgb(69, 66, 66);
    height: auto;
    /* max-height: 900px; */
    width: 100vw;
    margin-top: -65px;
    font-family: "dosis", "cormorant" !important;
}


.aboutme {
    width: 70vw;
    margin: 0 auto;
    /* max-width: 800px; */
}


.about h2 {
    padding-top: 90px;
    color: #ff5200;
}

.about p {
    width: 70vw;
}

.journey {
    padding-top: 0!important;
    margin-top: 85px;
}

.journey-p {
    padding-bottom: 90px;
    margin: 0;
}

.about h2:hover {
    text-decoration: underline rgb(144, 169, 206);
}









/* Projects */

.projects-card h1 {
    text-align: center;
    font-family: "alfa slab one", sans-serif;
    letter-spacing: 3px;
}

.projects-card {
    width: 100%;
    height: auto;
    background-color: #212121;
    padding-bottom: 150px!important;
    padding-top: 100px!important;
}

.BlogTextInfoContent-button-8 {
    background-image: linear-gradient(147deg, #39a9fe 0%, #9a38fd 74%)!important;
    box-shadow: 0px 4px 32px rgba(56, 180, 252, 0.4)!important;
}

.BlogTextInfoContent-button-8 a {
    text-decoration: none!important;
}

.makeStyles-root-1 {
    margin-top: 50px!important;
}











/* Experiences */

.experiences {
    background-color: #212121;
}

.react-tabs {
    margin: 50px auto;
    width: 70vw;
    display: flex;
    justify-content: center;
}

.react-tabs__tab-panel--selected{
    margin-left: 75px;
}

.react-tabs__tab-panel--selected h3 {
    margin: 0;
    color: white;
}

.react-tabs__tab-panel--selected h4 {
    margin: 10px 0;
    color: #ff5200;
}

.react-tabs__tab-panel--selected ul {
    list-style: square;
}

.react-tabs__tab-list {
    width: 150px!important;
    border-bottom: none!important;
    display: flex;
    flex-direction: column;
}

.react-tabs__tab--selected {
    background: #ff5200!important;
    border-color: #ff5200;
    width: 150px;
}

.education {
    padding-left: 0;
    margin-top: 120px;
}

.experiences h1 {
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    font-family: "alfa slab one", sans-serif;
    letter-spacing: 3px;
}

.education {
    padding-bottom: 100px;
}







/* Skills */
.skills-tag {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 70vw;
    margin: 0 auto;
}

.tag {
    box-shadow: 0 1px 4px 0 rgb(205, 199, 199);
    padding: 6px 30px;
    display: inline-block;
    margin-right: 10px;
    border: 1px solid rgb(205, 199, 199);
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 16px;
    background: #ff5200;
    color: rgb(46, 45, 46);
    font-family: "cormorant", sans-serif;
}

.skills {
    text-align: center;
    font-family: "cormorant", sans-serif;
    background-color: #212121;
    padding-top: 20px;
    padding-bottom: 60px;
    width: 70vw;
    margin-left: auto;
    margin-right: auto;
}

.skills-h1 {
    margin-top: 120px;
}

.skills-h1 h1 {
    font-family: "alfa slab one", sans-serif;
    letter-spacing: 3px;
    margin-bottom: 50px;
}


@media only screen and (max-width: 750px) { 
    .bio {
        height: 450px;
    }
    
    .aside-left img {
        height: 300px;
    }

    .aside-right h1 {
        font-size: 35px;
    }

    .react-tabs {
        width: 95%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .react-tabs__tab-list {
        flex-direction: row;
    } 
}




@media only screen and (min-width: 320px) and (max-width: 450px) { 
    .bio {
        margin-top: 0;
        padding-top: 0;
        flex-direction: column;
        height: 420px;
        background-color: rgb(144, 169, 206)
    }

    .aside-left {
        padding-left: 0;
        padding-right: 0;
        width: 100vw;
        position: relative;
        display: flex;
        justify-content: center;
        align-content: flex-end;
    }
    
    .aside-left img {
        position: initial;
        left: 0;
        bottom: 0;
        margin-left: 0;
    }

    .aside-left img {
        height: 200px;
    }
    
    .aside-right h1 {
        font-size: 35px;
        margin: 0;
        font-family: "alfa slab one", sans-serif;
    }
    
    .aside-right {
        width: 100vw;
        align-items: center;
    }

    .aside-right h3 {
        margin-top: 0;
    }
    








    .burger {
        width: 20px;
        margin-bottom: 4px;
    }
    
    .burgerking {
        line-height: 10px;
        height: 25px;
        padding: 6px;

    }



    .MuiMenu-list a {
        font-size: 20px;
    }
}




































































































