html {
    margin: 0;
    padding: 0;
    background-color: rgb(46, 45, 46);
    color: rgb(205, 199, 199);
}

body {
    background-color: none;
}

.bio {
    font-family: "cormorant", sans-serif;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    /* CENTER VERTICALLY AND HORIZONTALLY */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90vw;
}

.aside-left {
    text-align: center;
    padding-left: 10vw;
}

.aside-right h1 {
    font-size: 35px;
    margin: 0;
}

.aside-right {
    font-weight: 300;
    font-size: 18px;
    width: 40vw;
    text-align: left;
    padding-left: 20vw;
}

.aside-right p{
    line-height: 23px;
    margin: 0;
}

.word-link {
    text-decoration: none !important;
    font-weight: 700;
    color: rgb(223, 98, 15);;
}

.link {
    line-height: 45px;
}

.bio-span {
    color: rgb(223, 98, 15);
    font-size: 25px;
}

/* Footer */
footer {
    font-weight: 300;
    position: fixed;
    width: 100%;
    bottom: 0;
    text-align: center;
    opacity: .3;
}

/* Navbar */
.navbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.navbar a {
    color: whitesmoke;
    text-decoration: none;
    font-size: 20px;
    font-family: "dosis", "cormorant" !important;
    font-weight: 700!important;
}

.navbar a:hover {
    color: rgb(223, 98, 15);
}

.nav-span {
    font-size: 30px;
    color: rgb(223, 98, 15);
}

.nav-link {
    margin-left: 3vw;
}

/* Projects */
.projects {
    width: 70vw;
    margin: 100px auto;

    display: flex;
    flex-direction: column;
}


/* Project-one */
.project-img  {
    margin: 0;
    width: 70vw;
    height: 65vh;
}

.project-p {
    text-align: center;
    font-family: "cormorant", sans-serif;
}

.project-p p {
    font-size: 17px;
    margin: 0;
}

.project-h3 {
    color: rgb(223, 98, 15);
    margin: 0;
}

/* Experiences */

.react-tabs {
    margin: 5vh auto;
    width: 70vw;
    display: flex;
    justify-content: center;
}

.react-tabs__tab-panel--selected{
    margin-left: 5vw;
}

.react-tabs__tab-panel--selected h3 {
    margin: 0;
    color: white;
}

.react-tabs__tab-panel--selected h4 {
    margin: 10px 0;
    color: rgb(223, 98, 15);
}

.react-tabs__tab-panel--selected ul {
    list-style: square;
}

.react-tabs__tab-list {
    width: 25vw!important;
    border-bottom: none!important;
    display: flex;
    flex-direction: column;
}

.react-tabs__tab--selected {
    background: rgb(223, 98, 15)!important;
    border-color: rgb(223, 98, 15);
}

.education {
    padding-left: 0;
}

.experiences h1 {
    text-align: center;
    margin-bottom: 0;
    font-family: "cormorant", sans-serif;
}

/* Skills */
.skills-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;


}

.skills-tag {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.tag {
    box-shadow: 0 1px 4px 0 rgb(205, 199, 199);
    padding: 6px 30px;
    display: inline-block;
    margin-right: 10px;
    border: 1px solid rgb(205, 199, 199);
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 16px;
    background: rgb(223, 98, 15);
    color: rgb(46, 45, 46);
    font-family: "cormorant", sans-serif;
}

.skills {
    text-align: center;
}

.skills h1 {
    margin-top: 10vh;
}







































































































